


/* CONTACT US FORM  */


.container-fluid{
    width: 90%;
    padding-top: 180px; 
    margin: auto;
    overflow: hidden;
}


.container-fluid{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('./images/ruth (1).jpg');

    
}



#contact-section .container-fluid h2{
    text-align: center;
    text-decoration: underline;
    text-underline-position: under; /* it put the underline down again */
    color: rgb(238, 235, 235);
    letter-spacing: 2px;

}

#contact-section .container-fluid p{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    color: #fff;
    letter-spacing: 3px;
}

.contact-form i.fa{
    font-size: 22px;
    padding: 3%;
    background-color: none;
    border-radius: 80%;
    margin: 2%;
    cursor: pointer;
    border: 2px solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
}

.contact-form i.fa:hover{
    cursor: pointer;
    border: 2px solid #fff;
    color: #fff;
}

.contact-form {
    display: grid;
    grid-template-columns: auto auto;
}

.form-info {
    font-size: 16px;
    font-style: italic;
    color: #fff;
    letter-spacing: 2px;
}



@media(max-width: 768px){

    .contact-form i.fa{
        margin: 2% 8%;
        
    }

}

input{
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136,133,133,0.5);
    color: #fff;
    border: none;
    outline: none;
    
}

input::placeholder{
    color: #fff;
}

textarea{
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136,133,133,0.5);
    color: #fff;
    border: none;
    outline: none;
}

textarea::placeholder{
    color: #fff;
}

.submit{
    width: 40%;
    background: none;
    padding: 5px;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    margin-left: 3%;
    border: 2px solid rgb(190,190,190);
    color: rgb(190,190,190);
    margin-bottom: 100px;

}

.submit:hover{
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

/* media query */
@media(max-width: 768px){
    #contact-section .contact-form{
        display: block;
        width: 100%;
        text-align: center;
    }

    #contact-section .submit{
        width: 60%;
    }
}

/* END OF CONTACT US FORM  */

/* map */

.map{
    padding: 10px 0;
    box-shadow: 5px 10px 25px #555;
    padding-bottom: 0px;
    position: relative;
    z-index: 22;
}