.gallery-item img{
    width: 225px;
    height: 200px;
    margin-top: 8px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 2s ease;



}

.gallery-item img:hover{
    opacity: 0.5;
    } 


#gallery-centre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;
    

}



/* .gallery-item {
    background: linear-gradient(rgba( #009688)rgb( #009688))
    
    } 
 */



@media screen and (max-width:760px){
    .gallery-item img{
        width: 350px;
        height: 250px;
        margin-top: 15px;
        border-radius: 2px;
        opacity: 1;
        transition: opacity 2s ease;
    
    }
}
@media screen and(max-width: 992px){
    
}

