
.card-body {
    line-height: 1.5;
}

.card-body p {
    font-size: 24px;
}


.card-body h5 {
    font-size: 20px;
}


.text-center {
    font-size: 35px;
    margin-top: 10px;
    color: #C6AD8F;

}

.text-cent {
    text-align: center;
}

.card img {
    height: 300px;

}


@media only screen and (max-width: 567px){
        
    .container .text-center {
      

    }
    


    
    }
