
/* ========Gallery section====== */
#gallery{
    padding: 40px;
    background:#fff ;
    }
.gallery-item{
    background: linear-gradient(rgba( #009688)rgb( #009688))
    
    }

.gallery-item img{
    display: block;
    width: 100%;
    height: 200px;
    opacity: 1;
    transition: opacity 2s ease;
    }

.gallery-item img:hover{
    opacity: 0.5;
    }

@media screen and (min-width:576px){
    #gallery-centre{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    
    }
    
    }

@media screen and(min-width: 992px){
    #gallery-centre{
        grid-template-columns: repeat(4, 1fr);
    }
}
    
