
.team  {
    margin: 75px 0;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #d67d09;
    padding-bottom: 15px;
    margin-top: -15px;
}


/* line  below h1 */
h1:after {
    content:'';
    background-color: #000;;
    display: block;
    width: 150px;
    height: 2px;
    margin: 10px auto;

}


@media(max-width: 768px){
    
    h1 {
        
        font-size: 36px;
        padding-bottom: 5px;
        margin-top: -125px;
    }




}



.profile {
    margin-top: 25px;
}

.profile .img-box {
    opacity: 1;
    display: block;
    position:relative
}

.profile h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.profile h3{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.img-box img{
   
    width: 250px;
    height: 250px;
   
}



/* this is for overlay */
.img-box:after {
    content: '';
    opacity: 0;
    background-color: rgba(0,0,0,0.45);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}


/* for social media */
.img-box ul {
    margin: 0;
    padding: 20px 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

@media(max-width: 768px){

    .img-box ul li {
        width: 42px;
        height: 40px;
        border: 1px solid #fff;
        border-radius: 20%;
        margin: 3px;
        padding: 0px;
        display: inline-block;
    }

    .img-box ul li .fa-facebook{
        font-size: 20px;
        position: absolute;
        top: 30px;
        left: 13px;
    }

    .img-box ul li .fa-twitter{
        font-size: 20px;
        position: absolute;
        top: 30px;
        right: 46px;
    }
    
    .img-box ul li .fa-linkedin{
        font-size: 20px;
        position: absolute;
        top: 30px;
        right: 10px;
    }

    .img-box img{
        width: 350px;
        height: 350px;
        
       
    }
    
}


/* facebook etc ... size */
.img-box ul li {
    width: 32px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 3px;
    padding: 0px;
    display: inline-block;
}

.img-box a {
    color: #fff;
}

.img-box:hover:after{
    opacity: 1;
    border-radius: 10px;
}

.img-box:hover ul {
    opacity: 1;
}

.img-box a:hover li {
    color: #007bff;
    border: 1px solid #007bff;
}

.img-box:after, .img-box ul, .img-box ul li {
    transition: all 0.5s ease-in-out 0s;
}

