
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('./images/ruh.jpg');
    width: 100%;
    height: 88vh;
    background-position: center;
    background-size: cover;
}

.hero {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

.hero .title {
    font-size: 60px;
    letter-spacing: 15px;
}

hr{
    width: 50%;
    margin: 30px auto;
    border: 1.5px solid #fff;
}

p {
    font-size: 25px;
    margin-bottom: 30px;
}

#launch {
    font-size: 45px;
    word-spacing: 15px;
    /* font-weight: 600; */
}